@import 'colors';
@import '_typography';

* {margin: 0; padding: 0;}

body {
    background-image: url('../images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 326px;
    
    .utility-section {
        background-color: $color-dark-blue;
        border-radius: 10px 100px 10px 10px;
        padding: 42px;
    }

    .icon-container {
        display: flex;
        margin-top: 33px;

        .icon {
            width: 48px;
            height: 48px;
            background-color: $color-very-dark-blue;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 16px;
        }
    }

}